asgiref==3.8.1
attrs==24.2.0
blinker==1.9.0
cfgv==3.4.0
click==8.1.8
colorama==0.4.6
distlib==0.3.8
Django==4.2.16
django-cors-headers==4.4.0
django-filter==24.3
djangorestframework==3.15.2
drf-spectacular==0.27.2
filelock==3.16.1
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.2.0
gunicorn==23.0.0
identify==2.6.1
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==3.0.2
nodeenv==1.9.1
packaging==24.1
pillow==11.1.0
platformdirs==4.3.6
pre_commit==4.0.0
psycopg2==2.9.10
python-dotenv==1.1.0
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.20.0
ruff==0.6.9
SQLAlchemy==2.0.40
sqlparse==0.5.1
typing_extensions==4.13.2
tzdata==2024.2
uritemplate==4.1.1
virtualenv==20.26.6
Werkzeug==3.1.3
