<!doctype html>
<html>
<head>
    <title>Home page</title>
    
</head>
<body>
    <h1>Nofap streak</h1>
    {% if status == True %}
        <p>
            Your streak is {{streak}} days,
            <span id="span"></span>
            long
        </p>
        <form action="#" method="post">
            <input type="submit" value="End streak">
            <input type="hidden" name="streakstatus" value="End">
        </form>
    {% else %}
        {% if started == False %}
            <p>You have no ongoing streak</p>
            <form action="#" method="post">
                <input type="submit" value="Start new streak"><br><br>
                <input type="hidden" name="streakstatus" value="Start">
                <label for="mode">Mode:</label><br>
                <input type="radio" id="normal" name="mode" value="Normal" checked>
                <label for="normal">Normal</label><br>
                <input type="radio" id="hard" name="mode" value="Hard">
                <label for="hard">Hard</label><br>
            </form>
        {% else %}
            <p>Your streak will start tomorrow</p>
        {% endif %}
    {% endif %}
    <!-- <p>{{full}}</p> -->
    <!-- <p>{{test}}</p> -->
    <p>
        Your record is {{record}} days
        {% if record.day == py_datetime.today().day %}
            <span> (New record!)</span>
        {% endif %}
        <br><br>
        Current mode: <span id="mode">{{mode}}</span>
    </p>
    <a href="/history">History</a>
<script src = "../static/timer.js"></script>
<script src = "../static/color.js"></script>
</body>
</html>