<!doctype html>
<html>
<head>
    <title>Home page</title>
    
</head>
<body>
    <h1>Nofap streak</h1>
    {% if status == True %}
        <p>
            Your streak is {{streak}} days,
            <span id="span"></span>
            long
        </p>
        <form action="#" method="post">
            <input type="submit" value="End streak">
            <input type="hidden" name="streakstatus" value="End">
        </form>
    {% else %}
        {% if started == False %}
            <p>You have no ongoing streak</p>
            <form action="#" method="post">
                <input type="submit" value="Start new streak">
                <input type="hidden" name="streakstatus" value="Start">
            </form>
        {% else %}
            <p>Your streak will start tomorrow</p>
        {% endif %}
    {% endif %}
    <!-- <p>{{full}}</p> -->
    <!-- <p>{{test}}</p> -->
    <p>

        Your record is {{record}} days

    </p>
    <a href="/history">History</a>
<script src = "../static/timer.js"></script>
</body>
</html>